.dash__header {
    margin: auto;
    text-align: center;
}

.dash__upload {
    width: "100%";
    height: "60px";
    line-height: "60px";
    border-width: "1px";
    border-style: "dashed";
    border-radius: "5px";
    text-align: "center";
    margin: "10px";
}

.dash__paragraph {
    margin: auto;
    text-align: center;
}

.dash__dashes_list {
    width: 100%;
    text-align: center;
}
.dash {
    width: "50%";
    margin: "auto";
    min-width: "900px";
}
